<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>this is a new form</h1>
        <form action="">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value=""><br>
            <label for="fact">Fact:</label><br>
            <input type="text" id="fact" name="fact" value=""><br><br>
            <input type="submit" value="Submit">
        </form> 
       
        
        
    </body>
</html>