<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
        <body>
            <h1> Individual Pets</h1>

            {% for pet in pets %}

                {% if pet.pet_id == 2 %}
                    <div>
                    {{pet.pet_name}}
                    </div>
                    <div>
                        <span><strong>did you know that:</strong> </span>
                    {{pet.pet_fact}}
                    </div>
                    <div>
                    <img src="{{ pet.pet_photo }}" alt="Photo of pet"/>
                    </div>
                    
               

                {%endif%}

            {%endfor%}

    

           

        


        </body>
</html>